#eslogan {
    color: white;
    display: inline-block;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: orange;
    font-size: 1.2em;
}
td, th {
    border: 2px solid orange;
    padding: 10px;
    text-align: left;
}
th {
    background-color: orange;
}